<p>
  <b>Url:</b>
  <%=h @web_calendar.url %>
</p>

<p>
  <b>Data:</b>
  <%=h @web_calendar.data %>
</p>


<%= link_to 'Edit', edit_web_calendar_path(@web_calendar) %> |
<%= link_to 'Back', web_calendars_path %>