<% if negative_interest.user == current_user %>
  <% content_tag_for :li, negative_interest do %>
		<a class="interested" href="/destroy_interest/<%=negative_interest.id%>">never mind</a>
		<%=negative_interest.description%>
  <% end %>
<% end %>