#hd>div {
  background-color:#ffc;
  margin-bottom:1em;
  overflow:auto;
}

.tgt {
  display:none;
}

.tgt:target {
  display:block;
  background-color:#eee;
  padding:12px;
}

blockquote {
  padding: 20px;
}
.right {
  display:block;
  float:right;
}
.subtle {
  color: #ccc;
}

.green {
  color:#0c0 !important;
}

div.space {
  height: 1em;
}

ul#tabs {
  float:left;
  display:table;
}

ul#tabs li {
  font-weight:bold;
  float:left;
  background-color: white;
  padding: 4px 12px 4px 12px;
  margin: 6px 15px 0 0;
}
ul#tabs li a{
  color:blue;
  text-decoration:none;
}

ul#web_calendars li{
/*  list-style: disc inside;*/
  margin-top:0.5em;
}

.highlight {
  background-color: lightgreen;
  padding:7px;
}

textarea {
  height: 80px;
  width: 50%;
}

textarea.large {
  height:200px;
}

#welcome {
  float:right;
  padding:7px;
}
#logo {
  font-weight:bold;
  color: black;
  text-decoration: none;
  display:block;
  float:left;
  padding:7px 16px;
  margin-right:25px;
}
#ft>div{
  margin-top: 2em;
  padding:7px;
  border-top:1px silver solid;
}

#ideas {
  padding:20px;
  font-family: Georgia, serif;
}

h2{
  font-size: 2em;
  font-family: Georgia, serif;
}

h3{
  font-size: 1.4em;
  font-family: Georgia, serif;
}


#ideas ul {
  padding:10px;
  font-style: italic;
}

#ideas li {
  font-size: 1.4em;
  list-style: disc inside;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

p{
  margin-bottom: 0.5em;
}

#blurb {
  max-width: 50%;
} 

em {
  font-weight: bold;
  color: darkgreen;
}

li.user {
  margin: 7px;
  margin-bottom:0;
  overflow:auto;
}

li.user input {
  margin:10px;
  float:left;
  vertical-align:middle;  
}

li.user span {
  font-family: Georgia, serif;
  font-size: 1.4em;
}
.user .location {
  color: #999;
}
li.user img {
  width: 40px;
  height: 40px;
  float:right;
}

.fw{
  padding-top: 1em;
  clear:both;
}