.show_hidden{
  display:table;
  color:darkgreen;
  margin:10px;
  clear:both;
}
.child{
  margin:8px;
  background-color:white !important;
}

#tree {
  display:table;
}

a.selected {
  font-weight:bold;
  color:black;
  text-decoration:none;
}

.plus{
  font-size:0.9em;
  font-weight:bold;
}

.yui-u h2.full-calendar-title {
  font-size: 1.2em;
}

a.interested {
  margin-bottom:2px;
  color: #36f;
}

a.interested:hover {
  color: #009;
}

.interested {
  float:right;
  clear:right;

  margin-left: 8px;
}

ul.rows{
  
}

ul.rows>li{
  padding:3px;
  background-color:#eee;
  border-top: 1px #ccc solid;
  margin-top:2px;
    overflow:hidden;
}

ul.big {
  padding:10px;
  font-style: italic;
  font-family: Georgia, serif;
}

ul.big>li {
  font-size: 1.4em;
  list-style: disc inside;
  margin-bottom: 0.5em;
}


#tree li a{
  color: #ccc;
  float:right;
  margin-left:10px;
}

#tree a:hover{
  color:blue
}
#hd>div {
  background-color:#ffc;
  margin-bottom:1em;
  overflow:auto;
}
#found_addresses {
  overflow:hidden;
}
#found_addresses>li{
  float:left;
  padding: 0 10px 10px 0;
}

.pagination {
  clear:both;
  padding:10px;
  background-color: #eee;
  margin-top: 20px;
}

.x {
  float:right;
  text-decoration:none;
  font-size: 1.4em;
  font-family: serif;
}

.tgt {
  display:none;
}

.tgt:target {
  display:block;
  background-color:#eee;
  padding:12px;
}

blockquote {
  padding: 20px;
}
.right {
  display:block;
  float:right;
}
.subtle {
  color: #ccc;
}

.green {
  color:#0c0 !important;
}

div.space {
  height: 1em;
}

ul#tabs {
  float:left;
  display:table;
}

ul#tabs li {
  font-weight:bold;
  float:left;
  background-color: white;
  padding: 4px 12px 4px 12px;
  margin: 6px 15px 0 0;
}
ul#tabs li a{
  color:blue;
  text-decoration:none;
}

ul#web_calendars li{
/*  list-style: disc inside;*/
  margin-top:0.5em;
}

.highlight {
  background-color: lightgreen;
  padding:7px;
}

textarea {
  height: 80px;
  width: 50%;
}

textarea.large {
  height:200px;
}

#welcome {
  float:right;
  padding:7px;
}
#logo {
  font-weight:bold;
  color: black;
  text-decoration: none;
  display:block;
  float:left;
  padding:7px 16px;
  margin-right:25px;
}
#ft>div{
  margin-top: 2em;
  padding:7px;
  border-top:1px silver solid;
}

#ideas {
  padding:20px;
  font-family: Georgia, serif;
}

h2{
  font-size: 2em;
  font-family: Georgia, serif;
}

h3{
  font-size: 1.4em;
  font-family: Georgia, serif;
}

h4{
  font-size: 1.2em;
  font-family: Georgia, serif;
}


#ideas ul {
  padding:10px;
  font-style: italic;
}

#ideas li {
  font-size: 1.4em;
  list-style: disc inside;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

p{
  margin-bottom: 0.5em;
}

em {
  font-weight: bold;
  color: darkgreen;
}

li.user {
  margin: 7px;
  margin-bottom:0;
  overflow:auto;
}

li.user input {
  margin:10px;
  float:left;
  vertical-align:middle;  
}

li.user span {
  font-family: Georgia, serif;
  font-size: 1.4em;
}
.user .location {
  color: #999;
}
li.user img {
  width: 40px;
  height: 40px;
  float:right;
}

.fw{
  padding-top: 1em;
  clear:both;
}