	<ul>
		<li>Coming: <%=event.rsvps.confirmed.count%></li>
		<li>Maybe: <%=event.rsvps.maybe.count%></li>
		<li>No: <%=event.rsvps.declined.count%></li>
		<li>Not responded: <%=event.rsvps.unresponded.count%></li>
	</ul>
