<div class="yui-gc"> 
	<div class="yui-u first"> 
		<h2>Pending Invitations</h2>
		<ul class="rows"><%=render @fresh%></ul>
	</div>
	<div class="yui-u">
		<h2>History</h2>
		<ul class="rows"><%=render @all%></ul>
		<%=will_paginate @all %>
	</div>
</div>