<div id="calendar"></div>
<script>

$(function() {

		var d = new Date();
		var y = d.getFullYear();
		var m = d.getMonth();
		
		function dateClicky(date) {
			location.href = "/date/"+(date.getMonth()+1)+"/"+date.getDate()+"/"+date.getFullYear();
		}
		
		function eventClicky(calEvent, jsEvent) {
			$("#interval_id").val(calEvent.id)
			if(calEvent.title == "Busy") {
				$("#interval_busy").attr("checked", "checked");
				$("#interval_location").val("N/A");
			} else {
				$("#interval_busy").removeAttr("checked");
				$("#interval_location_string").val(calEvent.title);
			}
			$("#interval_start").val(calEvent.start);
			$("#interval_finish").val(calEvent.end);
			if(location.href.match("calendar")) {
				location.href = "#clicked";	
			} else {
				location.href = "/calendars?id="+calEvent.id+"#clicked";	
			} 
			
			return false;
		}

		$('#calendar').fullCalendar({
			// draggable: true,
			dayClick: dateClicky,
			eventClick: eventClicky,
			events: [<%=events.map {|e|
				<<-STR
				{
					"id": #{e.id},
					"title":  "#{h e.label}",
					"start": new Date(#{e.startms}),
					"end": new Date(#{e.finishms}),
				}
				STR
			}.join(",") 
			%>]
		});

	});	
</script>