<div id="calendar"></div>
<script>

$(function() {

		var d = new Date();
		var y = d.getFullYear();
		var m = d.getMonth();
		
		function dateClicky(date) {
			location.href = "/date/"+(date.getMonth()+1)+"/"+date.getDate()+"/"+date.getFullYear();
		}
		
		function eventClicky(calEvent, jsEvent) {
			if(calEvent.id.match("event")) {
				location.href = "/events/" + calEvent.id;
				return false
			} else if(calEvent.id.match("interest")) {
				location.href = "/events/new?interest_id="+calEvent.id+"&startms="+calEvent.start.getTime()+"&finishms="+calEvent.end.getTime();
				return false;
			}
			
			$("#event_id").val(calEvent.id)
			$("#event_location_string").val(calEvent.location);
			$("#event_name").val(calEvent.title);
			$("#event_human_range").val(calEvent.human_range);

			if(location.href.match("calendar")) {
				location.href = "#clicked";	
			} else {
				location.href = "/calendars?id="+calEvent.id+"#clicked";	
			} 
			
			return false;
		}

		$('#calendar').fullCalendar({
			// draggable: true,
			dayClick: dateClicky,
			eventClick: eventClicky,
			events: [<%=events.map {|e|
				<<-STR
				{
					"id": "#{e.id}",
					"title":  "#{h e.name}",
					"location":  "#{h e.location_string}",
					"human_range": "#{h e.human_range}",
					"start": new Date(#{e.startms}),
					"end": new Date(#{e.finishms}),
				}
				STR
			}.join(",") 
			%>]
		});

	});	
</script>