<% content_tag_for :li, activity do %>
	<div class="this">
		<%=link_to "add", "#", :class => "add" %>
		<%=link_to "delete", "#", :class => "delete" %>
		<% content_tag_for :span, activity do %>
			<%=h activity.name %>
		<% end %>
	</div>
	<% unless activity.children.empty? %>
		<ul><%=render activity.children%></ul>
	<% end %>
<% end %>