	<ul class="big">
		<% @activities.each do |act| %>
			<li>
				<% if act.children? %>
					<%=link_to act.name, new_activity_url(:parent => act.id)%>
				<% else %>
					<%=link_to act.name, new_time_span_url(act) %>
				<% end %>
			</li>
		<% end %>
		
		<li><%=link_to "Any of these", new_time_span_url(@parent) %></li>
		<li><%=text_field_tag "other", "Other", :onfocus => "if(this.value == 'Other')this.value=''" %>
			<input type="submit" value="Go">
		</li>
	</ul>
